#header {
  background-image: url(img/city.jpeg);
  height: 400px;
  background-size: cover;
  background-position: center;
}
body {
  text-align: center;
  margin: 0;
}
#haiderpic {
  height: 200px;
}
#title {
  padding-top: 70px;
  padding-bottom: 20px;
  margin: 0;
}
#visit {
  background-color: hsla(34, 100%, 85%, 0.4);
  padding: 10px 4px;
  border-radius: 6px;
  color: #3b2f00;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#sub {
  background-color: hsla(34, 100%, 85%, 0.4);
  padding: 10px 4px;
  border-radius: 6px;
  color: #3b2f00;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#foods img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 1px solid white;
}
#main {
  background-color: lightblue;
}
#foods {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(lightblue, grey);
}
#top {
  margin: 0;
}
#topheading {
  padding: 20px 0;
}
#foods p {
  padding: 0 30px;
}
#footer {
  background: linear-gradient(lightcoral, lightgrey);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#guidehead {
  margin: 0;
}
#guide {
  width: 300px;
  height: 300px;
  border: 3px solid greenyellow;
  border-radius: 5px;
  width: 400px;
  background-color: azure;
  
}
#guide img {
  height: 100px;

}
